.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2196f3; /* blue background */
}

.login-container {
  text-align: center;
}

.login-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 10px;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.register-container {
  text-align: center;
}

.register-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-card h2 {
  margin-bottom: 20px;
}

.register-card .input-group {
  margin-bottom: 10px;
  text-align: left;
}

.register-card input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register-card button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-card button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 0.9em
}
.home {
  background-color: #2196F3;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.sidebar {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: right;
}

.main-content {
  margin-top: 50px;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  background-color: #3b5998;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
